:root {
  --color-galactic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-light-red: #eb7565;
  --color-cyan: #61c4b7;
  --color-dark-purple: #552049;
  --color-black: #030303;
  --color-medium-brown: #7a746e;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'plus jakarta sans';
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h3,
  h4,
  h5 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3,
  h5 {
    font-size: 4rem;
  }
}
