:root {
  --color-galactic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-light-red: #eb7565;
  --color-cyan: #61c4b7;
  --color-dark-purple: #552049;
  --color-black: #030303;
  --color-medium-brown: #7a746e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'plus jakarta sans';
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h3,
  h4,
  h5 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3,
  h5 {
    font-size: 4rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  align-items: center;
  border-radius: 30px;
  color: #fff;
  display: flex;
  font-size: 1.4rem;
  height: 44px;
  justify-content: center;
  width: 176px;
}

.btn,
.btn--arrow {
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.btn--primary {
  background: var(--color-black);
}

.btn--primary:hover {
  background: var(--color-galactic-blue);
}

.btn--secondary {
  background: var(--color-light-red);
}

.btn--secondary:hover {
  background: var(--color-summer-yellow);
}

.btn--arrow-container {
  display: flex;
  gap: 16px;
}

.btn--arrow {
  background: var(--color-black);
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.btn--arrow:hover {
  background: var(--color-galactic-blue);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
    height: 56px;
    width: 228px;
  }
}

/* Grids */
.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid--3x3 {
    grid-template-columns: 333px 155px 155px;
  }
}

@media screen and (min-width: 1024px) {
  .grid--2x4 {
    grid-template-columns: 354px 164px 164px 354px;
  }
}
