<article class="carousel-wrapper">
  <div class="carousel">
    <img class="carousel__slide" src="assets/image-slide-1.jpg" alt="" />
    <img class="carousel__slide" src="assets/image-slide-2.jpg" alt="" />
  </div>
  <div class="btn--arrow-container carousel__btn-container">
    <button class="btn--arrow btn--arrow-left">
      <img src="assets/icon-arrow-left.svg" alt="" />
    </button>
    <button class="btn--arrow btn--arrow-right">
      <img src="assets/icon-arrow-right.svg" alt="" />
    </button>
  </div>
</article>
